<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/share/css/materialize.css">
    <!-- Materialize JavaScript -->
    <script src="/share/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Организации</title>
</head>

<body class="has-fixed-sidenav">
    <header>
        <ul id="sidenav-left" class="sidenav" style="transform: translateX(0px);">
            <li class="logo-container">Организации<i class="material-icons left">business</i></li>
            <li class="bold active"><a href="/organization/" class="waves-effect">О сервисе</a>
            </li>
            <li class="bold"><a href="/organization/organizations/" class="waves-effect">Организации</a>
            </li>
        </ul>
    </header>
    <main class="white">
        <div class="container">
            <div class="section">
                <h3>Микросервис организаций</h3>
                <h5>Структура данных:</h5>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/share/js/nav.js"></script>
</body>

</html>