<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
    <!-- Materialize JavaScript -->
    <script src="/static/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Счета</title>
</head>

<body class="has-fixed-sidenav">
    <header>
    </header>
    <main class="white">
        <div class="container">
            <div class="section">
                <h3>Микросервис счетов</h3>
                <h5>Структура данных:</h5>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/static/js/nav.js"></script>
    <script src="/static/js/sidenav.js"></script>
    <script>
        var sidebarLinks = [
            {
                label:"О сервисе",
                href:"/account/",
            },
            {
                label:"Счета",
                href:"/account/accounts/"
            }
        ]
        createSideNav("Счета", "account_balance", sidebarLinks)
    </script>
</body>

</html>