<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/share/css/materialize.css">
    <!-- Materialize JavaScript -->
    <script src="/share/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Сотрудники</title>
</head>

<body class="has-fixed-sidenav">
    <header>
    </header>
    <main class="white">
        <div class="container">
            <div class="section">
                <h3>Сотрудники</h3>
                <a class="waves-effect waves-blue btn-flat white blue-text"><i
                        class="material-icons left">add</i>Добавить</a>
                </p>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/share/js/nav.js"></script>
    <script type="text/javascript" src="/employee/js/sidenav.js"></script>
</body>

</html>