<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/share/css/materialize.css">
  <!-- Materialize JavaScript -->
  <script src="/share/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Справочник</title>
</head>

<body class="has-fixed-sidenav">
  <header>
    <ul id="sidenav-left" class="sidenav" style="transform: translateX(0px);">
      <li class="logo-container">Товары<i class="material-icons left">shopping_cart</i></li>
      <li class="bold active"><a href="/product/" class="waves-effect">О сервисе</a>
      </li>
      <li class="bold"><a href="/product/products/" class="waves-effect">Товары</a>
      </li>
      <li class="bold"><a href="/product/units/" class="waves-effect">Ед.
          измерения</a></li>
    </ul>
  </header>
  <main class="white">
    <div class="container">
      <div class="section">
        <h3>Микросервис товаров</h3>
        <h5>Структура данных:</h5>
        <p>В данном микросервисе задействованы две таблицы:<br>— Таблица продуктов;<br>— Таблица единиц измерений.
        </p>
      </div>
    </div>
  </main>
  <script type="text/javascript" src="/share/js/nav.js"></script>
</body>

</html>