<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
    <!-- Materialize JavaScript -->
    <script src="/static/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Контрагенты</title>
</head>

<body class="has-fixed-sidenav">
    <header>
    </header>
    <main class="white">
        <div class="container">
            <div class="section">
                <h3>Контрагенты</h3>
                <a class="waves-effect waves-blue btn-flat white blue-text"><i
                        class="material-icons left">add</i>Добавить</a>
                </p>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/static/js/nav.js"></script>
    <script type="text/javascript" src="/static/js/sidenav.js"></script>
    <script>
        var sidebarLinks = [
            {
                label:"О сервисе",
                href:"/customer/",
            },
            {
                label:"Контрагенты",
                href:"/customer/customers/"
            }
        ];
        createSideNav("Контрагенты", "people", sidebarLinks)
    </script>
</body>

</html>