<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/share/css/materialize.css">
  <!-- Materialize JavaScript -->
  <script src="/static/style/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>О проекте</title>
</head>

<body class="has-fixed-sidenav">
  <header>
  </header>
  <main class="white">
    <div class="container">
      <div class="section">
        <h3>Контрагенты</h3>
      </div>
    </div>
  </main>
  <script type="text/javascript" src="/share/js/materialize.min.js"></script>
  <script src="/share/js/nav.js"></script>
  <script type="text/javascript" src="/home/js/sidenav.js"></script>
</body>

</html>